body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.divsideimg {
    float: right;
    width: 50%;
    height: 100vh;

}

.side-image {
    width: 100%;
    height: 100%;
}